body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
.magic-card {
  width: 200px;
  height: 300px;
  background-color: blanchedalmond;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  animation:
    card 2s ease-out 1s,
    move-card 2s linear 3s infinite alternate;
}
.magic-card:hover {
  animation: rotation-card 3s linear;
}
@keyframes rotation-card {
  0% {
    transform: rotate(0deg);
  }
  50% {
    background-color: rgb(243, 174, 70);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes card {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes move-card {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
